<?xml version="1.0" encoding="UTF-8"?>

<web-app>
	<app-name>fr.free.hd.bond.chatroom.ChatRoomApplication</app-name>
	<display-name>Chat Room Sip Servlet</display-name>
	<description>ChatRoom Sip Servlet</description>

	<servlet>
                <servlet-name>WebServices</servlet-name>
                <servlet-class>fr.free.hd.bond.chatroom.ServiceServlets.WebServicesImpl</servlet-class>
        </servlet>
        <servlet-mapping>
                <servlet-name>WebServices</servlet-name>
                <url-pattern>/WebServices</url-pattern>
        </servlet-mapping>
	
<!--        <servlet>
                <servlet-name>ChatServices</servlet-name>
                <servlet-class>fr.free.hd.bond.chatroom.server.ChatServices</servlet-class>
        </servlet>
        <servlet-mapping>
                <servlet-name>ChatServices</servlet-name>
                <url-pattern>/ChatServices</url-pattern>
        </servlet-mapping>
-->

	<resource-ref>
                <description>MySQL DB</description>
                <res-ref-name>jdbc/chatroom</res-ref-name>
                <res-type>javax.sql.DataSource</res-type>
                <res-auth>Container</res-auth>
        </resource-ref>

</web-app>	
